*{
    margin: 0;
    padding: 0;
}

/*dynamicness*/
@media(max-width:800px){
    html{
        min-width: 800px;
    }
}

body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    color: #a9b1d6;
    font-size: 24px;
    font-family: "Monospace";
    font-weight: 400;
    line-height: 1.8em;
    background: #151620;
    text-align: left;
}

details {
}

details[open] {
}

summary {
    color: #9ece6a;
    font-weight: bold;
    cursor: pointer;
    list-style: '+' inside;
}

details[open] > summary {
    color: #f7768e;
    list-style: '-' inside;
}


summary > span{
    color: #c0caf5;
    font-weight: bold;
}

.t0{
    background: #151620;
}
.t0 > summary{
    font-size: 32px;
    padding: 20px;
    padding-left: 32px;
}

.t1 {
    background: #1a1b26;
}
.t1 > summary{
    font-size: 28px;
    padding: 10px;
    padding-left: 48px;
}

.t2 {
    background: #1a1b26;
}
.t2 > summary{
    font-size: 26px;
    padding: 10px;
    padding-left: 64px;
}

.t0 > section{
    padding-right: 20px;
    padding-left: 32px;
}

.t1 > section{
    padding-right: 20px;
    padding-left: 48px;
}

.t2 > section{
    padding-right: 20px;
    padding-left: 64px;
}

strong{
    color: #c0caf5;
    font-weight: bold;
}

.weak{
    color: #414868;
}

.yes{
    color: #9ece6a;
    font-weight: bold;
}

.nah{
    color: #f7768e;
    font-weight: bold;
}

a{
    color: #bb9af7;
    font-size: 24px;
    font-family: "Monospace";
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.blocklink{
    width: 22%;
    display: inline-block;
    padding: 0;
    margin: 0;
}
