*{
    margin: 0;
    padding: 0;
}

/*dynamicness*/
@media(max-width:800px){
    html{
        min-width: 800px;
    }
}

body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    color: #aaa;
    font-size: 24px;
    font-family: "Monospace";
    font-weight: 400;
    line-height: 1.8em;
    background: #fff;
    text-align: left;
}

details {
}

details[open] {
}

summary {
    color: #ccc;
    font-weight: bold;
    cursor: pointer;
    list-style: '+' inside;
}

details[open] > summary {
    list-style: '-' inside;
}

.t0{
    background: #080808;
}
.t0 > summary{
    font-size: 32px;
    padding: 20px;
    padding-left: 32px;
}

.t1 {
    background: #111111;
}
.t1 > summary{
    font-size: 28px;
    padding: 10px;
    padding-left: 48px;
}

.t2 {
    background: #181818;
}
.t2 > summary{
    font-size: 26px;
    padding: 10px;
    padding-left: 64px;
}

.t0 > section{
    padding-left: 32px;
}

.t1 > section{
    padding-left: 48px;
}

.t2 > section{
    padding-left: 64px;
}

strong{
    color: #bbb;
    font-weight: bold;
}

.weak{
    color: #555;
}

li .yes{
    color: #afa;
}

li .nah{
    color: #faa;
}

a{
    color: #aaf;
    font-size: 24px;
    font-family: "Monospace";
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.blocklink{
    width: 16%;
    display: inline-block;
    padding: 0;
    margin: 0;
}
