*{
    margin: 0;
    padding: 0;
}

/*dynamicness*/
@media(max-width:800px){
    html{
        min-width: 800px;
    }
}

body, html{
    height: 100%;
    font-size: 16px;
    font-family: "Monospace";
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
    background: black;
    text-align: center;
}

.section .thicc{
    color: #fff;
    font-weight: bold;
}

li .yes{
    color: #afa;
}

li .nah{
    color: #faa;
}

a{
    color: hotpink;
    text-decoration: none;
    font-size: 22px;
    line-height: 40px;
}

